html form {
    width: 100%;
    margin: 0;
    width: 100%;
    margin: 0;
}

html table {
    width: 100%;
    margin: 0;
}

html table th {
    background-color: rgb(255, 247, 205);
}

html table tr:nth-of-type(odd) {
    background-color: rgb(211, 211, 211);
}

html table tr:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
}

html table tr td {
    text-align: center;
}

html table a {
    text-decoration: none;
    color: rgb(0, 64, 202);
    width: 100%;
    margin-right: 0;
}